<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
<%= form.label :Email %>
<%= form.text_field :email %>
<%= form.label :Password %>
<%= form.password_field :password %>
<%= form.label :Password_Confirmation %>
<%= form.password_field :password_confirmation %>
<%= form.file_field :avatar %> 
<%= form.submit :Submit %>
<% end %>
